<header>
    <nav>
        <ul>
            <li><a href="/Jobify/home.html">Home</a></li>
            <li class="dropdown">
                <a href="#">Assignments</a>
                <ul class="dropdown-content">
                    <li><a href="/Jobify/dashboard.html">Dashboard</a></li>
                    <li><a href="/Jobify/grades.html">Grades</a></li>
                    <li><a href="/Jobify/teacher-dashboard.html">Teacher Dashboard</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Get Help</a>
                <ul class="dropdown-content">
                    <li><a href="/Jobify/chatbot.html">Chatbot</a></li>
                    <li><a href="/Jobify/issues.html">Issues</a></li>
                    <li><a href="/Jobify/flashcards.html">Flashcards</a></li>
                </ul>
            </li>
            <li><a href="#">Hall pass</a></li>
            <li><a href="#">Chat room</a></li>
            <li><a href="/Jobify/companyfindr.html">Company Findr</a></li>
            <li class="profile-pic"><a href="#"><img src="profile.jpg" alt="Profile Picture"></a></li>
        </ul>
    </nav>
</header>
