.btn {
    background: linear-gradient(to bottom, #8CBCBA, #78A19F);
    border-radius: 8px;
    overflow: hidden;
    width: 150%;
    text-align: center;
}

.container {
    opacity: 0;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}